{% extends 'base.html.twig' %}

{% block page_title %}Attribute list{% endblock %}

{% block body %}
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Label'|trans }}</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for attribute in attributes %}
            <tr>
                <td><a href="{{ path('attribute_show', { 'id': attribute.id }) }}">{{ attribute.id }}</a></td>
                <td>{{ attribute.name }}</td>
                <td>{{ attribute.label }}</td>
                <td class="text-right">
                    <a class="btn btn-default" href="{{ path('attribute_show', { 'id': attribute.id }) }}">{{ 'show'|trans }}</a>
                    <a class="btn btn-default" href="{{ path('attribute_edit', { 'id': attribute.id }) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <div class="text-right">
        <a href="{{ path('attribute_new') }}" class="btn btn-primary">{{ 'Create a new entry'|trans }}</a>
    </div>
{% endblock %}
