{% extends 'base.html.twig' %}

{% block page_title %}Attribute{% endblock %}

{% block body %}
    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attribute.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ attribute.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Label'|trans }}</th>
                <td>{{ attribute.label }}</td>
            </tr>
            <tr>
                <th>{{ 'Options' }}</th>
                <td>{{ attribute.options|join(', ')|upper }}</td>
            </tr>
        </tbody>
    </table>

    <div class="text-right">
        <a href="{{ path('attribute_edit', { 'id': attribute.id }) }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>
        <a href="{{ path('attribute_index') }}" class="btn btn-default">{{ 'Back to the list'|trans }}</a>
    </div>
    <br>
    <div class="text-right">
        {{ form_start(delete_form) }}
        <input type="submit" value="{{ 'Delete'|trans }}" class="btn btn-warning">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
